@use "../abstracts";

@mixin colorTitle {
    color: #53382c;
    // font-size: 2rem !important;
    font-weight: 900 !important;
    text-transform: uppercase;
}
$colorH2: #555555;
$colorcontent: #666666;
$timeopen: #999999;
$colorIcon: #b22830;
h1 {
    margin: 4rem 0 2rem !important;
    @include colorTitle;
}

.contentStore {
    // background-color: red;
    &__Container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $colorcontent;
        }
        b {
            text-transform: capitalize;
            font-size: 1rem;
            margin: 0 0.5rem 0 0.2rem;
        }
        li ~ li {
            margin-top: 1rem;
        }
        p span {
            padding: 0.1rem;
            background-color: #b22830;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            margin-right: 0.5rem;
            border-radius: 8px;
        }
    }
    h2 {
        font-size: 2rem;
        font-weight: bold;
        color: $colorH2;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    address {
        display: inline;
        width: 15rem;
    }
}
.mapStore {
    background-color: #b22830;
    iframe {
        display: block;
        width: 100%;
        border: 0.5rem solid #999999;
    }
}
.resTitle {
    @include abstracts.breakpoint(lg) {
        font-weight: bold !important;
        font-size: 2.4rem !important;

        margin-top: 2rem !important;
        margin-bottom: 0 !important;
    }
}
.contentStore__Container {
    @include abstracts.breakpoint(lg) {
        margin-top: 2rem;
    }
    h2 {
        @include abstracts.breakpoint(lg) {
            font-size: 1.5rem !important;
        }
        & ~ ul {
            @include abstracts.breakpoint(lg) {
                margin-bottom: 1rem;
            }
        }
    }
}
.mapStore {
    @include abstracts.breakpoint(lg) {
        max-width: 95% !important;
        max-height: 80% !important;
    }
}
